header { 
    background-color: var(--cor-principal);
    border-bottom: 1px solid var(--cor-branco);
    position: relative;
    z-index: 2;
}

.top-nav {
    margin: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--cor-secudaria);
    height: 100px;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li{
    width: 100%;
}

.menu > li a{
    margin: 0 1rem;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: var(--cor-branco);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

header .logo {
    position: relative;
    top: 5px;
}

ul.menu li a {
    font-weight: bold;
    color: var(--cor-secundaira);
}

.logo a:hover{
    text-decoration: none;
}

header .logo img{
    position: relative; 
    top: -10px; 
    width: 55px;
}

header .logo h1 {
    font-weight: bold; 
    color: var(--cor-secudaria);
}
            