#sectionOne {
    text-align: center;
    background-color: var(--cor-secudaria);
    margin-top: 0px;
    height: 366px;
}

span {
    font-weight: bold;
}

#sectionOne .testo {
    width: 60%;
    margin: 0 auto;
    height: 250px;
    color: var(--cor-branco);
}

#sectionTwo .bloco {
    margin-top: 20px;
    margin-bottom: 20px;
}

#sectionTwo .form-group {
    text-align: center;
}

.iconAlert:hover + .alerta{
    display: block !important;
}

@media(max-width: 991px) {
    #sectionOne .testo {
        width: 100% !important;
    }
}

@media(min-width: 1400px) {
    #labelTwo {
        width: 380px;
    }
}