section#organizadorFinanceiro {
    padding-top: 40px;
    text-align: center;
    /*border-top: 1px solid var(--cor-principal);*/
    margin-top: 40px;
}

section#organizadorFinanceiro h2{
    background: var(--cor-principal);
    display: inline;
    padding: 1px 0;
}

section#organizadorFinanceiro form{
    margin-top: 10px;
}

section#organizadorFinanceiro fieldset{
    padding: 10px;
    font-weight: bolder;
    margin: 30px;
}

section#organizadorFinanceiro fieldset .box{
    padding: 10px;
    text-align: right ;
}


section#organizadorFinanceiro fieldset.entradaD1 div{
    display: block;
}

section#organizadorFinanceiro fieldset.entradaD1 input{
    width: 100%;
}

.bordai {
    border: 1px solid var(--cor-principal);
}

section#organizadorFinanceiro fieldset.entradaD1 label input{
    width: 20px;
}

section#organizadorFinanceiro fieldset.entradaD1 label svg:hover{
    cursor:pointer;
}


section#organizadorFinanceiro fieldset #aviso{
    color: var(--cor-secudaria);
    position: absolute;
    display: inline;
    z-index: 1;
}


section#organizadorFinanceiro .meta,
section#organizadorFinanceiro .valor{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5px;
}

section#organizadorFinanceiro fieldset .input-group{
    width: 80%;
}

section#organizadorFinanceiro button{
    margin: 10px auto;
}

.botao {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid var(--cor-principal);
}

section#organizadorFinanceiro .opcao{
    border-radius: 5px;
    margin-top: 20px;
}

section#organizadorFinanceiro .row{
    margin-bottom: 5px;
}

#obs {
    padding: 5px;
    border-radius: 5px;
}

.obsTesto {
    font-size: 0.8em;
}

@media (max-width: 1200px) {
    section#organizadorFinanceiro fieldset #aviso{
        display: block;
    }
}

/*
    Aqui eu estou colocando um hover em uma tag irmã da div#aviso.
*/
svg#alerta1:hover + div#aviso {
    display: block !important;
}
